body {
    background-color:coral;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 15px;
}

.head {
    color: darkblue;
}

#bglime {
    background-color: rgb(30, 228, 30);
}

.word {
    color: red;
}

p {
    color: white;
}

#para {
    color: green;
}
.pgraph {
    color: black;
    font-size: 27px;
}

ul li {
    color: white;
}
ul li:first-child a {
    background-color: yellow;
}
ul li:nth-child(2) a {
    background-color: rgb(6, 6, 242);
}
ol li:nth-child(2) {
    color: blue;
}
ol li:nth-child(3) {
 color: red;
}